/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
    #site-description {
        display: none;
    }

}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) and (max-width : 650px) {
/* Styles */
    
    /* For YouTube embeds */
    iframe {
        width: 490px;
        height: 278px;
    }
}

@media screen and (min-width: 600px) {
    .archives .archive-list li {
        width: 49%;
        display: inline-block;
        vertical-align: top;
    }

    .gfield {
        &.frm_first_half {
            width: 50%;
            float: left;
            padding-right: 2%;
        }
        &.frm_last_half {
            width: 50%;
            float: right;
        }
        input[type='text'], textarea {
            width: 100%;
        }
    }
}

@media screen and (min-width: 675px) {
    .social-media {
        text-align: center;

        span:last-child {
            display: inline-block;
        }
        a {
            padding: 0.7em 1em 0.95em;
        }
        .icon-facebook2,
        .icon-twitter2,
        .icon-google-plus {
            margin-right: 10px;
        }
        .social-media .share-item {
            width: 32%;
        }
        h3 {
            display: none;
        }
    }
}

@media screen and (max-width: 767px) {
    body {
        padding-bottom: 4em;
    }

    .header-nav {
        width:12em;
    }
    .csstransforms3d.csstransitions {
        .banner-header > .header-nav {
            -webkit-transition: all 0.2s linear;
            -moz-transition: all 0.2s linear;
            transition: all 0.2s linear;
            position: fixed;
            z-index: 4;
            width: 170px;
            background: $highlight-colour;
            left: 50%;
            margin-left: -85px;
            bottom: 1em;
            padding-bottom: 2.5em;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            -webkit-transform: scale(0);
            -moz-transform: scale(0);
            -ms-transform: scale(0);
            -o-transform: scale(0);
            transform: scale(0);
            -webkit-transform-origin: 50% 100%;
            -moz-transform-origin: 50% 100%;
            -ms-transform-origin: 50% 100%;
            -o-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
        }
        .active .banner-header > .header-nav {
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            -o-transform: scale(1);
            transform: scale(1);
        }
    }

    .modal-bg {
        background-color: rgba(0,0,0,0.5);
        height: 100%;
        left: 0;
        opacity: 0.1;
        top: 0;
        visibility: hidden;
        width: 100%;
        z-index: 3;
        position: fixed;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        transition: all 0.2s linear;

        &.active {
            opacity: 1;
            visibility: visible;
        }
    }

    .site-title {
        width: 100%;
        text-align: center;
        margin: 8px 0;
    }
}

@media screen and (min-width: 768px) {
    .post, .banner-header .wrap, footer .wrap {
        max-width: 720px;
    }
    .previous, .next {
        display: block;
    }
    .mobile-nav {
        display: none;
    }
    .post {
        padding: 2em;
    }

    .archives .archive-list li {
        width: 40%;
    }

    .header-nav .menu li {
        width: auto;
    }
    .site-title {
        margin: 0;
    }
}

@media (min-width: 1000px) {
            
    .previous, .next {
        &.fixed {
            bottom: 45%;
            font-size: 1.05em;
            position: fixed;
        }
    }

    .previous {
        left: 10px;
    }
    .next {
        right: 10px;
    }
}

@media (min-width:1200px) {
    .banner-header .cell{
        max-width: 885px;
        margin: 0 auto;
    }
    .post, .page-wrap, .banner-header .wrap, footer .wrap {
        max-width: 885px;
    }
    .post {
        font-size: 1.125em;
        line-height: 1.8125;
    }
    .intro {
        h2 {
            font-size: 2.5em;
        }
        p {
            font-size: 1.5em;
        }
    }
    .alternative {
        img {
            margin-top: 10px;
        }
    }
}