/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Because it's such an awesome feature */
* { box-sizing: border-box; }
   
/*
 *
 * Base Styles
 *
 */
body, select, input, textarea { 
  color: $base-font-colour; 
}
body {
	background: $background-colour;
	overflow-x: hidden;
}

/* always force a scrollbar in non-IE */ 
html { 
	overflow-y: scroll; 
}

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a {
	color: $base-link-colour;
	text-decoration: none;
	cursor: pointer;
	font-weight: bold;

	&:hover, &:active, &:focus {
		text-decoration: none;
		color: $link-highlight-colour;
	}
	&:visited {
		@extend a;
	}
}
pre { 
  padding: 15px; 
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
}

p {
	line-height: 1.625em;
}

textarea { 
	overflow: auto; /* thnx ivannikolic! www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */
}

.ie6 {
	legend {
		margin-left: -7px;
	}
	
	input {
		vertical-align: text-bottom; 
	}	
}

.ie7 {
	legend {
		margin-left: -7px;
	}
	
	input[type="checkbox"] {
		vertical-align: baseline; 
	}
	
	/* bicubic resizing for non-native sized IMG: 
	   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
	img {
		-ms-interpolation-mode: bicubic;
	}
}

.clear {
	clear: both;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}

/* align checkboxes, radios, text inputs with their label
   by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { 
	vertical-align: text-bottom; 
}
input[type="checkbox"] { 
	vertical-align: bottom; 
}

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button { 
	cursor: pointer; 
}

/* webkit browsers add a 2px margin outside the chrome of form elements */  
button, input, select, textarea { 
	margin: 0; 
}

/* colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { 
	border-radius: 1px;
	@include shadow(false, 0, 0, 5px, red);
}

.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { 
	background-color: #f0dddd; 
}

/* These selection declarations have to be separate.
   No text-shadow: twitter.com/miketaylr/status/12228805301 
*/
::-moz-selection{ 
	background: $base-link-colour; 
	color:#fff; 
	text-shadow: none; 
}

::selection { 
	background: $base-link-colour; 
	color:#fff; 
	text-shadow: none; 
} 

/*  j.mp/webkit-tap-highlight-color */
a:link { 
	-webkit-tap-highlight-color: rgba(51,51,51,0.5); 
}

/* make buttons play nice in IE:    
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {
	width: auto; 
	overflow: visible;
}

blockquote, q {
	quotes: none;
}

pre {
    white-space: pre-wrap;
}

/* Header */

.banner-header {
	background: $highlight-colour;

	.cell {
		margin: 0 10px;
		float: left;
	}
	.wrap {
		margin: 0 auto;
	}
}

.site-title, .site-description, .site-title a {
	margin: 0;
	color: #FFFFFF;
}
.site-title {
	line-height: 1.5;
	font-size: 37px;
	font-size: 2.3125rem;
}

.header-nav {
	padding-top: 0.9em;
	text-align: center;

	a {
		color: #FFFFFF;
		font-family: 'Open Sans', sans-serif;
	}
	li a:hover, 
	li a:focus,
	li.current-menu-item a,
	li.current_page_item a {
		background: #5985AF;
	}

}

.post-meta {

	time {
		display: block;
	}

	ul, li {
		display: inline;
		margin: 0 5px 0 0;
	}
	ul {
		padding: 0;
	}
}

.page-wrap {
	margin: 1em auto;
}

.post {
	margin: 1em auto;
	background: #FFF;
	border: 1px solid #EEE;
	border-radius: 3px;
	position: relative;
	float: none;
	padding: 1em;

	> a {
		display: block;
		padding: 1em 1em;

		&:hover {
			background: #DEDEDE;
			border-bottom: 1px solid #EEE;
			margin-bottom: -1px;
		}
	}

	h2 {
		margin: 0;
	}
}

.intro {
	text-align: center;

	h2 {
		font-size: 2em;
		margin: 0.25em 0;
	}
	p {
		font-size: 1.15em;
		margin: 0;
		text-align: center;
	}
}

.cat-links {
	position: absolute;
	top: 1em;
	right: -5px;
	background: #FFF;
	border: 1px solid #EEE;
	text-align: center;
	display: block;
	box-shadow: -1px 0px 3px -1px #333;
	border-radius: 2px 0 0 2px;

	a {
		display: block;
		padding: 5px 10px;
	}
}

.main-wrap {
	padding: 0 0.5em;
}

.list-title,
.no-results {
	text-align: center;
	margin-top: 1em;
}


/*
 *
 * Social media menu
 *
 */
.social-menu {
	list-style: none;
	padding-top: 0.9em; 
	margin: 0;
	float: right;

	.screen-reader-text {
	  position: absolute;
	  top: -9999px;
	  left: -9999px;
	}
	ul {
		margin: 0;
		padding: 0;
		text-align: right;
	}
	
	li {
		display: inline-block;
		margin-right: 3%;

		&:last-child {
			margin-right: 0;
		}
	}

	a {
		display: block;
		line-height: 1;
	
		&:hover, &:focus { 
			background: transparent;

			span { background-color: #FFFFFF; border-radius: 6px; }
			.icon-feed { color: #FE9900; }
			.icon-linkedin { color: #006599; }
			.icon-github { color: #000000; }
			.icon-twitter { color: #1BB2E9; }
			.icon-lastfm { color: #D51008; }
			.icon-google-plus { color: #DD4C39; }
		}

	}
}
.social-media {
	margin-top: 1em;

	.share-item {
		display: inline-block;
		vertical-align: bottom;
		margin-right: 5px;

		a {
			color: #FFFFFF;
			padding: 0.5em;
			font-size: 0.9em;
		}
	}

	span {
		display: inline-block;
		vertical-align: middle;		
		font-weight: normal;

		&:last-child {
			display: none;
		}
	}

	.share-item.fb {
		a {
			background-color: #3b579d;
		}
	}
	.share-item.google {
		a {
			background-color: #e36044;
		}
	}
	.share-item.twitter {
		a {
			background-color: #00aced;
		}
	}
}
.archives {
	.archive-list {
		margin-left: 0;

		li {
			list-style: none;
		}
	}
	section {
		margin: 0 0 2em;

		&:last-child {
			margin: 0;
		}
	}
	.searchform {
		text-align: center;

		label {
			font-size: 2em;
			line-height: 1;
		}
		input {
			height: 46px;
		}
	}
}
.page-title {
	margin-bottom: 0.25em;
}

footer.entry-meta {
	padding-top: 1em;
	border-top-width: 1px;
	line-height: 1.5;
}
frm_form_fields {
	fieldset {
		padding: 0 0.625em 0;
	}
}

.gform_fields {
	margin-left: 0;
	padding: 0 0.625em 0;
}

.gfield {
	margin-bottom: 1em;
	width: 100%;
	list-style: none;

	&:last-child {
		margin-bottom: 0;
	}
	label {
		padding: 0;
		font-weight: bold;
		display: block;
	}
	.validation_message {
		color: #a94442;
		font-size: 0.75em;
	}
	input, textarea {
		width: 100%;
	}
}
.gform_footer {
	padding: 0 0.625em 0;

	input, img {
		float: right;
		padding: 0.25em 1.5em;
		margin: 0;
	}
	img {
		float: left;
		margin-left: 5px;
	}
	input {
		-webkit-transition: background-color 0.25s linear;
		-moz-transition: background-color 0.25s linear;
		-ms-transition: background-color 0.25s linear;
		-o-transition: background-color 0.25s linear;
		transition: background-color 0.25s linear;
	
		&:hover,
		&:focus {
			background: $highlight-colour;
			color: #FFFFFF;
		}
	}
}
.validation_error {
	display: none;
}
.alternative {
	margin: 0.5em 0;
	img {
		margin-top: 5px;
		margin-right: 10px;
	}
}